Setting Checkpoint to a previous version fails with exception on 21.10.2 with a Grpc connection

**Describe the bug**
Trying to update a checkpoint to a previous value fails with exception on a Grpc connection against Event Store 21.10.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a checkpoint with value a.
2. Set checkpoint value a + 1
3. Set checkpoint value a + 2
4. Set checkpoint value a + 1 -> exception

**Expected behavior**
I expect the 2nd set of checkpoint to value a to complete in silence without effect.

**Actual behavior**
I get an exception.

**EventStore details**
 - EventStore server version: 21.10.2 (20.10.5 does not have this failure independent of client)

 - Operating system: Windows 11/Server 2019

 - EventStore client version: Grpc 22.0.0 (tcp connection does not have this failure against any version)

**Additional context**
Stack trace:
`Grpc.Core.RpcException
Status(StatusCode="Unknown", Detail="Exception was thrown by handler.")
   at EventStore.Client.Interceptors.TypedExceptionInterceptor.AsyncStreamReader`1.MoveNext(CancellationToken cancellationToken)
   at EventStore.Client.AsyncStreamReaderExtensions.ReadAllAsync[T](IAsyncStreamReader`1 reader, CancellationToken cancellationToken)+MoveNext()
   at EventStore.Client.AsyncStreamReaderExtensions.ReadAllAsync[T](IAsyncStreamReader`1 reader, CancellationToken cancellationToken)+System.Threading.Tasks.Sources.IValueTaskSource<System.Boolean>.GetResult()
   at EventStore.Client.EventStoreClient.StreamAppender.Receive()
   at EventStore.Client.EventStoreClient.StreamAppender.Receive()
   at System.Threading.Channels.AsyncOperation`1.GetResult(Int16 token)
   at System.Threading.Channels.ChannelReader`1.ReadAllAsync(CancellationToken cancellationToken)+MoveNext()
   at System.Threading.Channels.ChannelReader`1.ReadAllAsync(CancellationToken cancellationToken)+System.Threading.Tasks.Sources.IValueTaskSource<System.Boolean>.GetResult()
   at EventStore.Client.EventStoreClient.StreamAppender.Send()
   at EventStore.Client.EventStoreClient.StreamAppender.Send()
   at EventStore.Client.EventStoreClient.StreamAppender.AppendInternal(Options options, IEnumerable`1 events, CancellationToken cancellationToken)
   at EventStore.Client.EventStoreClient.AppendToStreamAsync(String streamName, StreamRevision expectedRevision, IEnumerable`1 eventData, Action`1 configureOperationOptions, Nullable`1 deadline, UserCredentials userCredentials, CancellationToken cancellationToken)
   at <user code>`


@rastrup, could you expand on what type of checkpoint you have in mind? And what's the whole context (best if it's also together with the code samples with reproduction).

Could you also provide the details of the internal exception?

> @rastrup, could you expand on what type of checkpoint you have in mind? And what's the whole context (best if it's also together with the code samples with reproduction).
> 
> Could you also provide the details of the internal exception?

I will try and make a failing test without user code.
About the internal exception, I have already provided a stack trace.


Thank you :+1:
Regarding exception, it only contains the main exception. It should have typically also the internal one with more details.

> Thank you 👍 Regarding exception, it only contains the main exception. It should have typically also the internal one with more details.

There is no inner exception.

Failing test (requires xUnit, FluentAssertions, Autofixture and Newtonsoft).
This test fails against Event Store 21.10.2 and not 20.10.5 (and does not fail if implemented on Tcp equivalent against either event store version)

```
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Security.Cryptography;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using AutoFixture.Xunit2;
using EventStore.Client;
using FluentAssertions;
using Newtonsoft.Json;
using Xunit;
using HashCode = System.HashCode;

namespace TestNamespace
{
    public class CheckpointPersistenceGrpcTest
    {
        [Theory, AutoData]
        public async Task ItShouldSuccessfullyIgnoreUpdatingCheckpointWhenItWasPreviouslyUpdatedRaw(
            ulong initialCheckpoint,
            EventStoreClient eventStore,
            string owner,
            string purpose)
        {
            CheckpointPersistenceGrpc sut = await CheckpointPersistenceGrpc.CreateAsync(eventStore, purpose, owner);
            await sut.UpdateCheckpointAsync(CheckpointToken.CreateNoStream(initialCheckpoint));
            CheckpointToken before = await sut.GetCheckpointAsync();

            CheckpointToken update = before.WithGreaterCheckpoint(before.Checkpoint.Value + 1);
            await sut.UpdateCheckpointAsync(update);
            CheckpointToken after = await sut.GetCheckpointAsync();

            CheckpointToken later = after.WithGreaterCheckpoint(after.Checkpoint.Value + 1);
            await sut.UpdateCheckpointAsync(later);
            CheckpointToken expected = await sut.GetCheckpointAsync();


            bool success = await sut.UpdateCheckpointAsync(update);
            CheckpointToken actual = await sut.GetCheckpointAsync();


            success.Should().BeTrue();
            actual.Should().Be(expected);
        }

        public class CheckpointPersistenceGrpc
        {
            private readonly EventStoreClient _eventStore;
            private readonly string _controlStream;

            private CheckpointPersistenceGrpc(EventStoreClient eventStore, string controlStream)
            {
                _eventStore = eventStore;
                _controlStream = controlStream;
            }

            private async Task<CheckpointPersistenceGrpc> InitializeAsync()
            {
                await EnsureControlStreamIsConfiguredToOnlyContainLatestMessage();

                return this;
            }

            private async Task EnsureControlStreamIsConfiguredToOnlyContainLatestMessage()
            {
                StreamMetadataResult current = await _eventStore.GetStreamMetadataAsync(_controlStream);

                const int one = 1;
                if (current.Metadata.MaxCount != one)
                {
                    StreamMetadata metadataWithMaxCountOne =
                        new StreamMetadata(
                            one,
                            current.Metadata.MaxAge,
                            current.Metadata.TruncateBefore,
                            current.Metadata.CacheControl,
                            current.Metadata.Acl,
                            current.Metadata.CustomMetadata);
                    await _eventStore.SetStreamMetadataAsync(_controlStream, StreamState.Any, metadataWithMaxCountOne);
                }
            }

            public static async Task<CheckpointPersistenceGrpc> CreateAsync(EventStoreClient eventStore, string purpose, string owner)
            {
                string stream = $"{owner}-{purpose}";
                return await CreateAsync(eventStore, stream);
            }

            private static async Task<CheckpointPersistenceGrpc> CreateAsync(EventStoreClient eventStore, string stream)
            {
                var instance = new CheckpointPersistenceGrpc(eventStore, stream);
                return await instance.InitializeAsync();
            }

            public async Task<CheckpointToken?> GetCheckpointAsync(CancellationToken token = default)
            {
                var events = _eventStore.ReadStreamAsync(Direction.Backwards, _controlStream, StreamPosition.End, 1, true,
                    cancellationToken: token);
                if (await events.ReadState == ReadState.Ok)
                {
                    var resolvedEvent = await events.SingleAsync(cancellationToken: token);
                    var message = resolvedEvent.Event;
                    CheckpointPersistenceGrpc.CheckpointData? data = JsonSerialization.FromJsonByteArray<CheckpointPersistenceGrpc.CheckpointData>(message.Data.ToArray());

                    return CheckpointToken.CreateWithVersion(message.EventNumber, data!.Checkpoint);
                }

                return null;
            }

            public async Task<bool> UpdateCheckpointAsync(CheckpointToken checkpoint, CancellationToken token = default)
            {
                if (checkpoint.Checkpoint == null) return false;

                EventData message = CreateCheckpointMessage(checkpoint.Checkpoint.Value);

                return await WriteToEventStoreAsync(checkpoint, message, token);
            }

            private static EventData CreateCheckpointMessage(ulong checkpoint)
            {
                Guid id = new Abacus.Messaging.IdCalculator().CreateDeterministicId(
                    Guid.Parse("DE4C33EA-4A46-4899-81C3-9002D1ECB6CA"), checkpoint.ToString());
                CheckpointPersistenceGrpc.CheckpointData data = new CheckpointPersistenceGrpc.CheckpointData(checkpoint);
                byte[] bytes = JsonSerialization.ToJsonByteArray(data);

                var message = new EventData(Uuid.FromGuid(id), "Checkpoint", bytes);
                return message;
            }

            private async Task<bool> WriteToEventStoreAsync(
                CheckpointToken checkpoint,
                EventData message,
                CancellationToken token)
            {
                try
                {
                    await checkpoint.Version.MatchAsync(
                        async version => await _eventStore.AppendToStreamAsync(_controlStream, version, new[] { message },
                            cancellationToken: token),
                        async expectedVersion =>
                        {
                            switch (expectedVersion)
                            {
                                case AggregateStreamState.Any:
                                    await _eventStore.AppendToStreamAsync(_controlStream, StreamState.Any, new[] { message },
                                        cancellationToken: token);
                                    break;
                                case AggregateStreamState.NoStream:
                                    await _eventStore.AppendToStreamAsync(_controlStream, StreamState.NoStream,
                                        new[] { message }, cancellationToken: token);
                                    break;
                                case AggregateStreamState.StreamExists:
                                    await _eventStore.AppendToStreamAsync(_controlStream, StreamState.StreamExists,
                                        new[] { message }, cancellationToken: token);
                                    break;

                            }
                        });
                }
                catch (WrongExpectedVersionException)
                {
                    return false;
                }

                return true;
            }

            private class CheckpointData
            {
                public CheckpointData(ulong checkpoint)
                {
                    Checkpoint = checkpoint;
                }

                public ulong Checkpoint { get; }
            }
        }

        public class CheckpointToken : IEquatable<CheckpointToken>
        {
            /// <summary>
            /// 
            /// </summary>
            /// <param name="version">The revision number of the control stream at the time this checkpoint was read.</param>
            /// <param name="checkpoint">The checkpoint number of the last processed message in the queue stream.</param>
            private CheckpointToken(StreamVersion version, ulong? checkpoint)
            {
                Version = version;
                Checkpoint = checkpoint;
            }

            internal static CheckpointToken CreateWithVersion(ulong version, ulong checkpoint)
            {
                return new CheckpointToken(StreamVersion.CreateWithVersion(version), checkpoint);
            }

            public static CheckpointToken CreateFromStart(ulong? checkpoint)
            {
                return new CheckpointToken(StreamVersion.CreateWithVersion(0), checkpoint);
            }

            /// <summary>
            /// 
            /// </summary>
            /// <param name="checkpoint">The checkpoint number of the last processed message in the queue stream.</param>
            public static CheckpointToken CreateNoStream(ulong? checkpoint)
            {
                return new CheckpointToken(StreamVersion.NoStream, checkpoint);
            }

            public CheckpointToken WithGreaterCheckpoint(ulong greaterCheckpoint)
            {
                if (Checkpoint >= greaterCheckpoint)
                {
                    throw new ArgumentException($"Checkpoint {greaterCheckpoint} not greater than {Checkpoint}", nameof(greaterCheckpoint));
                }

                return WithCheckpoint(greaterCheckpoint);
            }

            /// <summary>The version number of the control stream at the time this checkpoint was read.</summary>
            public StreamVersion Version { get; }

            /// <summary>The checkpoint number of the last processed message in the queue stream.</summary>
            public ulong? Checkpoint { get; }

            public CheckpointToken WithCheckpoint(ulong checkpoint) => new(Version, checkpoint);

            public CheckpointToken WithNextPosition() => new(Version.WithNextVersion(), Checkpoint);


            public override string ToString()
            {
                return $"Version: {Version}, Checkpoint: {Checkpoint}";
            }

            #region IEquatable

            public bool Equals(CheckpointToken? other)
            {
                if (ReferenceEquals(null, other)) return false;
                if (ReferenceEquals(this, other)) return true;
                return Version == other.Version
                    && Checkpoint == other.Checkpoint;
            }

            public override bool Equals(object? obj)
            {
                if (ReferenceEquals(null, obj)) return false;
                if (ReferenceEquals(this, obj)) return true;
                if (obj.GetType() != this.GetType()) return false;
                return Equals((CheckpointToken)obj);
            }

            public override int GetHashCode()
            {
                return HashCode.Combine(Version, Checkpoint);
            }

            public static bool operator ==(CheckpointToken? left, CheckpointToken? right)
            {
                return Equals(left, right);
            }

            public static bool operator !=(CheckpointToken? left, CheckpointToken? right)
            {
                return !Equals(left, right);
            }

            #endregion
        }

        public class IdCalculator
        {
            private readonly Dictionary<string, uint> _occurences;

            public IdCalculator()
            {
                _occurences = new Dictionary<string, uint>();
            }


            public Guid CreateDeterministicId(Guid id, string name)
            {
                uint occurrence = IncrementOccurrence(name);

                return GuidUtility.Create(id, $"{name}-{occurrence}");
            }


            private uint IncrementOccurrence(string name)
            {
                uint occurrence = GetNextOccurrence(name);
                _occurences[name] = occurrence;
                return occurrence;
            }

            private uint GetNextOccurrence(string name)
            {
                return _occurences.TryGetValue(name, out var current) ? current + 1 : 0;
            }
        }

        public readonly struct StreamVersion : IEquatable<StreamVersion>
        {
            public static StreamVersion CreateWithVersion(ulong version) => new(version, null);

            public static readonly StreamVersion NoStream = new(null, AggregateStreamState.NoStream);

            public static readonly StreamVersion Any = new(null, AggregateStreamState.Any);

            public static readonly StreamVersion StreamExists = new(null, AggregateStreamState.StreamExists);

            private readonly ulong? _version;
            private readonly AggregateStreamState? _streamState;

            private StreamVersion(ulong? version, AggregateStreamState? streamState)
            {
                if (!version.HasValue && !streamState.HasValue)
                    throw new ArgumentNullException(nameof(version));
                if (version.HasValue && streamState.HasValue)
                    throw new ArgumentException(nameof(version));

                _version = version;
                _streamState = streamState;
            }

            public async Task MatchAsync(
                Func<ulong, Task> versionFunc,
                Func<AggregateStreamState, Task> streamStateFunc)
            {
                if (_version.HasValue) await versionFunc(_version.Value);
                else await streamStateFunc(_streamState!.Value);
            }

            public override string ToString()
            {
                return _version.HasValue ? _version.Value.ToString() : _streamState!.Value.ToString();
            }

            public StreamVersion WithNextVersion() =>
                _version.HasValue
                    ? CreateWithVersion(_version.Value + 1)
                    : CreateWithVersion(0);

            #region IEquatable

            public bool Equals(StreamVersion other)
            {
                return _version == other._version
                    && _streamState == other._streamState;
            }

            public override bool Equals(object? obj)
            {
                return obj is StreamVersion other && Equals(other);
            }

            public override int GetHashCode()
            {
                return HashCode.Combine(_version, _streamState);
            }

            public static bool operator ==(StreamVersion left, StreamVersion right)
            {
                return left.Equals(right);
            }

            public static bool operator !=(StreamVersion left, StreamVersion right)
            {
                return !left.Equals(right);
            }

            #endregion
        }

        public enum AggregateStreamState
        {
            NoStream,
            Any,
            StreamExists
        }

        /// <summary>
        /// Helper methods for working with <see cref="Guid"/>.
        /// </summary>
        public static class GuidUtility
        {
            /// <summary>
            /// Creates a name-based UUID using the algorithm from RFC 4122 §4.3.
            /// </summary>
            /// <param name="namespaceId">The ID of the namespace.</param>
            /// <param name="name">The name (within that namespace).</param>
            /// <returns>A UUID derived from the namespace and name.</returns>
            /// <remarks>See <a href="http://code.logos.com/blog/2011/04/generating_a_deterministic_guid.html">Generating a deterministic GUID</a>.</remarks>
            public static Guid Create(Guid namespaceId, string name)
            {
                return Create(namespaceId, name, 5);
            }

            /// <summary>
            /// Creates a name-based UUID using the algorithm from RFC 4122 §4.3.
            /// </summary>
            /// <param name="namespaceId">The ID of the namespace.</param>
            /// <param name="name">The name (within that namespace).</param>
            /// <param name="version">The version number of the UUID to create; this value must be either
            /// 3 (for MD5 hashing) or 5 (for SHA-1 hashing).</param>
            /// <returns>A UUID derived from the namespace and name.</returns>
            /// <remarks>See <a href="http://code.logos.com/blog/2011/04/generating_a_deterministic_guid.html">Generating a deterministic GUID</a>.</remarks>
            public static Guid Create(Guid namespaceId, string name, int version)
            {
                if (name == null)
                    throw new ArgumentNullException("name");
                if (version != 3 && version != 5)
                    throw new ArgumentOutOfRangeException("version", "version must be either 3 or 5.");

                // convert the name to a sequence of octets (as defined by the standard or conventions of its namespace) (step 3)
                // ASSUME: UTF-8 encoding is always appropriate
                byte[] nameBytes = Encoding.UTF8.GetBytes(name);

                // convert the namespace UUID to network order (step 3)
                byte[] namespaceBytes = namespaceId.ToByteArray();
                SwapByteOrder(namespaceBytes);

                // comput the hash of the name space ID concatenated with the name (step 4)
                byte[] hash;
                using (HashAlgorithm algorithm = version == 3 ? (HashAlgorithm)MD5.Create() : SHA1.Create())
                {
                    algorithm.TransformBlock(namespaceBytes, 0, namespaceBytes.Length, null, 0);
                    algorithm.TransformFinalBlock(nameBytes, 0, nameBytes.Length);
                    hash = algorithm.Hash;
                }

                // most bytes from the hash are copied straight to the bytes of the new GUID (steps 5-7, 9, 11-12)
                byte[] newGuid = new byte[16];
                Array.Copy(hash, 0, newGuid, 0, 16);

                // set the four most significant bits (bits 12 through 15) of the time_hi_and_version field to the appropriate 4-bit version number from Section 4.1.3 (step 8)
                newGuid[6] = (byte)((newGuid[6] & 0x0F) | (version << 4));

                // set the two most significant bits (bits 6 and 7) of the clock_seq_hi_and_reserved to zero and one, respectively (step 10)
                newGuid[8] = (byte)((newGuid[8] & 0x3F) | 0x80);

                // convert the resulting UUID to local byte order (step 13)
                SwapByteOrder(newGuid);
                return new Guid(newGuid);
            }

            /// <summary>
            /// The namespace for fully-qualified domain names (from RFC 4122, Appendix C).
            /// </summary>
            public static readonly Guid DnsNamespace = new Guid("6ba7b810-9dad-11d1-80b4-00c04fd430c8");

            /// <summary>
            /// The namespace for URLs (from RFC 4122, Appendix C).
            /// </summary>
            public static readonly Guid UrlNamespace = new Guid("6ba7b811-9dad-11d1-80b4-00c04fd430c8");

            /// <summary>
            /// The namespace for ISO OIDs (from RFC 4122, Appendix C).
            /// </summary>
            public static Guid IsoOidNamespace = new Guid("6ba7b812-9dad-11d1-80b4-00c04fd430c8");

            // Converts a GUID (expressed as a byte array) to/from network order (MSB-first).
            internal static void SwapByteOrder(byte[] guid)
            {
                SwapBytes(guid, 0, 3);
                SwapBytes(guid, 1, 2);
                SwapBytes(guid, 4, 5);
                SwapBytes(guid, 6, 7);
            }

            private static void SwapBytes(byte[] guid, int left, int right)
            {
                byte temp = guid[left];
                guid[left] = guid[right];
                guid[right] = temp;
            }
        }

        public static class JsonSerialization
        {
            public static byte[] ToJsonByteArray(object? obj)
            {
                using var stream = new MemoryStream();
                using var writer = new StreamWriter(stream);
                JsonSerializer.CreateDefault().Serialize(writer, obj);
                writer.Flush();
                return stream.ToArray();
            }

            public static object? FromJsonReadOnlySpan(ReadOnlySpan<byte> json, Type type)
            {
                return FromJsonByteArray(json.ToArray(), type);
            }

            public static object? FromJsonByteArray(byte[] json, Type type)
            {
                using var stream = new MemoryStream(json);
                using var reader = new StreamReader(stream);
                return JsonSerializer.CreateDefault().Deserialize(reader, type);
            }

            public static T? FromJsonByteArray<T>(byte[] json)
            {
                return (T?)FromJsonByteArray(json, typeof(T));
            }
        }
    }
}
```

> @rastrup, the code you send looks quite complex, it's hard to say what's precisely failing, but you can compare it with working implementation from our samples: https://github.com/EventStore/samples/blob/main/CQRS_Flow/.NET/Core/Core.EventStoreDB/Subscriptions/EventStoreDBSubscriptionCheckpointRepository.cs. It stores checkpoints as events inside EventStoreDB using gRPC client.

I have the constraint that I have an existing Event Store that has stored checkpoints in a certain way and I have to continue reading and writing them that way.

About the complexity of the code: The error is only on Event Store 21.10.2, not 20.10.5 and only when communicating via Grpc, not Tcp. I hoped the code would just serve to trigger the error inside a running version of the Event Store and could be debugged from there.

I understand, but as you can see, this looks more like a serialisation issue rather than an issue with gRPC by itself. You can check the linked code and compare the difference to your mapping logic. EventStoreDB doesn't do much besides passing raw bytes. For the guidance around migrating from TCP to gRPC client, you can have a look here: https://developers.eventstore.com/clients/dotnet/21.2/migration-to-gRPC.html 

> I understand, but as you can see, this looks more like a serialisation issue on the usage side rather than an issue with gRPC by itself. You can check the linked code and compare the difference to your mapping logic. EventStoreDB doesn't do much besides passing raw bytes. For the guidance around migrating from TCP to gRPC client, you can have a look here: https://developers.eventstore.com/clients/dotnet/21.2/migration-to-gRPC.html

We have followed that guideline and as described did not find an issue here as long as we were using the 20.10.5 version of the Event Store. This setup is running our production right now.
But when trying to move to version 21.10.2 the issue appeared.

I have reduced the test as much as possible.
Here is a test that fails on EventStore 21.10.2 and not on 20.10.5 when using the Grpc Client:
```
using System;
using System.IO;
using System.Threading.Tasks;
using AutoFixture.Xunit2;
using EventStore.Client;
using Newtonsoft.Json;
using Xunit;

namespace TestNamespace
{
    public class CheckpointPersistenceGrpcTest2
    {
        [Theory, AutoData]
        public async Task ItShouldSuccessfullyIgnoreUpdatingCheckpointWhenItWasPreviouslyUpdatedRaw2(
            ulong initialCheckpoint,
            EventStoreClient eventStore,
            string controlStream)
        {
            var current = await eventStore.GetStreamMetadataAsync(controlStream);
            await eventStore.SetStreamMetadataAsync(controlStream, StreamState.Any, new StreamMetadata(
                1,
                current.Metadata.MaxAge,
                current.Metadata.TruncateBefore,
                current.Metadata.CacheControl,
                current.Metadata.Acl,
                current.Metadata.CustomMetadata));
            await eventStore.AppendToStreamAsync(controlStream, StreamState.NoStream,
                new[] {CreateCheckpointMessage(initialCheckpoint)});
            await eventStore.AppendToStreamAsync(controlStream, 0,
                new[] {CreateCheckpointMessage(initialCheckpoint + 1)});
            await eventStore.AppendToStreamAsync(controlStream, 1,
                new[] {CreateCheckpointMessage(initialCheckpoint + 2)});
            await eventStore.AppendToStreamAsync(controlStream, 0,
                new[] {CreateCheckpointMessage(initialCheckpoint + 1)});
        }

        private static EventData CreateCheckpointMessage(ulong checkpoint)
        {
            Guid id = Guid.Parse("DE4C33EA-4A46-4899-81C3-9002D1ECB6CA");
            CheckpointData data = new CheckpointData(checkpoint);
            byte[] bytes = JsonSerialization.ToJsonByteArray(data);

            var message = new EventData(Uuid.FromGuid(id), "Checkpoint", bytes);
            return message;
        }

        private class CheckpointData
        {
            public CheckpointData(ulong checkpoint)
            {
                Checkpoint = checkpoint;
            }

            public ulong Checkpoint { get; }

            public override string ToString()
            {
                return $"CheckpointData, Checkpoint: {Checkpoint}";
            }
        }

        public static class JsonSerialization
        {
            public static byte[] ToJsonByteArray(object? obj)
            {
                using var stream = new MemoryStream();
                using var writer = new StreamWriter(stream);
                JsonSerializer.CreateDefault().Serialize(writer, obj);
                writer.Flush();
                return stream.ToArray();
            }
        }
    }
}
```

I have also investigated this and it seems to be a problem related to idempotent writes (same position and same id as a previous event), but only when the $maxCount of the stream is set to 1 (other values may of course also trigger the problem, but I have not tested that).

I have updated the test posted above as a standalone Console app and simplified it a little bit further. The previous test used the same id for all events, which might have obfuscated the issue with the idempotent writes a little bit.

The test fails for me on the following configurations (Windows, .NET 6):

- EventStore v21.10.7, EventStore.Client.Grpc.Streams v22.0.0
- EventStore v21.10.7, EventStore.Client.Grpc.Streams v21.2.0

The test passes for me on the following configurations (also Windows, .NET 6):
- EventStore v20.10.5, EventStore.Client.Grpc.Streams v22.0.0
- EventStore v20.10.5, EventStore.Client.Grpc.Streams v21.2.0

```
using EventStore.Client;

// Changing this to false, makes the stream keep all events
// and makes the problem go away on EventStore v21.10.7.
// Both true/false works on EventStore v20.10.5.
const bool useMaxCountOne = true;

const string connectionString = "esdb://admin:changeit@localhost:2113";

string controlStream = $"randomstream-{Guid.NewGuid()}";

var eventStoreClient = new EventStoreClient(EventStoreClientSettings.Create(connectionString));

Console.WriteLine($"Testing with stream name '{controlStream}'.");

try
{
    await ItShouldIgnoreAnIdempotentWrite(eventStoreClient);
    Console.WriteLine("Test passed");
}

catch
{
    Console.WriteLine("!!! Test failed !!!");
}

async Task ItShouldIgnoreAnIdempotentWrite(EventStoreClient eventStore)
{
    if (useMaxCountOne)
        await ConfigureStreamToOnlyKeepLastWrittenEvent(eventStore);

    Guid id0 = Guid.NewGuid();
    await eventStore.AppendToStreamAsync(controlStream, StreamState.NoStream,
        new[] { CreateCheckpointMessage(id0) });

    Guid id1 = Guid.NewGuid();
    await eventStore.AppendToStreamAsync(controlStream, 0,
        new[] { CreateCheckpointMessage(id1) });

    Guid id2 = Guid.NewGuid();
    await eventStore.AppendToStreamAsync(controlStream, 1,
        new[] { CreateCheckpointMessage(id2) });

    // Re-uses position and event id from second event.
    await eventStore.AppendToStreamAsync(controlStream, 0,
        new[] { CreateCheckpointMessage(id1) });
}

EventData CreateCheckpointMessage(Guid id)
{
    byte[] bytes = new byte[] { 1, 2, 3 };

    var message = new EventData(Uuid.FromGuid(id), "Checkpoint", bytes);
    return message;
}

async Task ConfigureStreamToOnlyKeepLastWrittenEvent(EventStoreClient client)
{
    var current = await client.GetStreamMetadataAsync(controlStream);
    await client.SetStreamMetadataAsync(controlStream, StreamState.Any, new StreamMetadata(
        1,
        current.Metadata.MaxAge,
        current.Metadata.TruncateBefore,
        current.Metadata.CacheControl,
        current.Metadata.Acl,
        current.Metadata.CustomMetadata));
}
```